{% block header %}
    <div class="navbar">
        <h1 class="wildkodskola-logo"><a href="/">Kingdom of Wildkodskola</a></h1>
        <ul class="menu">
            <li><a href="#">The Royal Family</a></li>
            <li><a href="#">Royal Assets</a></li>
            <li><a href="#">Buy Tickets</a></li>
            <li><a href="#">Plan your visit</a></li>
            <li><a href="#">Sign in/Sign up</a></li>
        </ul>
    </div>
{% endblock %}